@page "/Collection"
@inject NavigationManager NavigationManager
@using MTG.Services
@using MTG.Models
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject NavigationManager NavigationManager
@inject ProtectedSessionStorage ProtectedSessionStorage

<h3>Collection</h3>

<ul class="image-list">
    @if (myCards != null)
    {
        @foreach (var myCard in myCards)
        {
            <li>
                <img src="@myCard.Image" @onclick="() => NavigateToCard(myCard.Name)" />
                <button @onclick="() => RemoveCard(myCard.Id)">Remove from Deck</button>
            </li>
        }
    }
    else
    {
        <p>Loading collection...</p>
    }
</ul>



@code {
       

}
