@page "/Login"
@using MTG.Services
@using MTG.Models
@rendermode InteractiveServer
@using System.Linq
@using System.Text.Json
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject NavigationManager NavigationManager
@inject ProtectedSessionStorage ProtectedSessionStorage;

<h3>Login</h3>
<div class="inputField">
    <label for="Username">Username</label>
    <input id="usernameInput" @bind=loggedUser.Username type="text" placeholder="Username" />
</div>

<div class="inputField">
    <label for="Password">Password</label>
    <input id="passwordInput" @bind=loggedUser.Password type="text" placeholder="Password" />
</div>
<div>
    <button @onclick=@Register>Register</button>

    <button type="Log in" @onclick=@logIn>Log in</button>
</div>


@code {
    Loginn login = new Loginn();
    User loggedUser = new User();
    public void Register()
    {
        login.CreatePasswordHash(loggedUser);
        ProtectedSessionStorage.SetAsync("User", loggedUser.Username);
        Console.WriteLine("User registered:" + $"{loggedUser.Username}");
        NavigationManager.NavigateTo("/RandomCard", forceLoad: true);
    }
    public void logIn()
    {
        login.CreatePasswordHash(loggedUser);
        
        // if (login.checkuser(loggeduser))
        // {   
        //     navigationmanager.navigateto("/");
        // }   
       
    // Session code
    ProtectedSessionStorage.SetAsync("User", loggedUser.Username);
    StateHasChanged();
    
    }
}
