@page "/RedCards"
@using MTG.Services
@rendermode InteractiveServer
@using System.Linq



<ul class="image-list">

    @foreach (Services.CardModel redCard in myRedCards)
    {
        <li>@redCard.Name <br /><img src=@string.Format("{0}",redCard.Image) /></li>
    }

</ul>


@code
{
  IQueryable myRedCards;

  Services services = new Services();


  protected override void OnInitialized()
  {
      base.OnInitialized();
        myRedCards = services.GetCardsByName("Equinox");
  }
}