@using MTG.Services
@rendermode InteractiveServer
@using System.Linq
@page "/SearchResult/{searchString}"
@inject NavigationManager NavigationManager

<ul class="image-list">

    @foreach (Search.CardModel myCard in myCards)
    {

            <li>@myCard.Name <br />
            <img src="@myCard.Image" @onclick="() => NavigateToCard(myCard.Name)" />
            </li>
    }

</ul>


